{% extends 'text_mining/base.html' %}
{% load static %}
{% block content %}

  {{ tree | json_script:"data" }}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'text_mining:index' %}">Emotion Analysis</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'text_mining:index' %}">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'text_mining:word' %}">Frequência de Palavras</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'text_mining:emotion' %}">Análise de Emoção</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'text_mining:context' %}">Context</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid py-5 px-5">
    <div class="row">
      <div class="col-sm-12 my-4">
        <div class="card">
          <div class="card-header">
            <a class="modal-link float-right" id="treemap" href="" data-toggle="modal" data-target="#myModal"><i class="fas fa-info-circle"></i></a>
            <h4 class="card-title">Treemap</h4>
          </div>
          <div class="card-body">
            <div id="tree-plot" style="width: 100%;"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 my-4">
        <div class="card">
          <div class="card-header">
            <a class="modal-link float-right" id="emo-dist" href="" data-toggle="modal" data-target="#myModal"><i class="fas fa-info-circle"></i></a>
            <h4 class="card-title">Distribuição de Emoção ao Longo do Livro</h4>
          </div>
          <div class="card-body">
            <div class="container-fluid py-3">
              <div class="row">
                <div class="col-sm-10">
                  <div id="emotion-plot" style="width: 100%;"></div>
                </div>
                <div class="col-sm-2 my-4">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="emotion" id="positivo" value="positivo" checked>
                    <label class="form-check-label positivo" for="positivo">
                      Positivo
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="emotion" id="negativo" value="negativo" checked>
                    <label class="form-check-label negativo" for="negativo">
                      Negativo
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="emotion" id="alegria" value="alegria" checked>
                    <label class="form-check-label alegria" for="alegria">
                      Alegria
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="emotion" id="tristeza" value="tristeza" checked>
                    <label class="form-check-label tristeza" for="tristeza">
                      Tristeza
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="emotion" id="confiança" value="confiança" checked>
                    <label class="form-check-label confiança" for="confiança">
                      Confiança
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="emotion" id="nojo" value="nojo" checked>
                    <label class="form-check-label nojo" for="nojo">
                      Nojo
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="emotion" id="medo" value="medo" checked>
                    <label class="form-check-label medo" for="medo">
                      Medo
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="emotion" id="raiva" value="raiva" checked>
                    <label class="form-check-label raiva" for="raiva">
                      Raiva
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="emotion" id="surpresa" value="surpresa" checked>
                    <label class="form-check-label surpresa" for="surpresa">
                      Surpresa
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="emotion" id="antecipação" value="antecipação" checked>
                    <label class="form-check-label antecipação" for="antecipação">
                      Antecipação
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block scripts %}
  <script>
    var dist = {{ dist | safe }};
  </script>
  <script src="{% static 'js/emo_dist.js' %}"></script>
  <script src="{% static 'js/treemap.js' %}"></script>
{% endblock %}
