{% extends 'text_mining/base.html' %}
{% load static %}
{% block content %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'text_mining:index' %}">
        <img src="{% static 'images/brand.png' %}">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'text_mining:index' %}">Início</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'text_mining:word' %}">Frequência de Palavras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'text_mining:emotion' %}">Análise de Emoção</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'text_mining:context' %}">Contexto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid content-wrapper">
    <div class="row">
      <div class="col-sm-6 my-4">
        <div class="card" style="height:20em">
          <div class="card-header">
            <a class="modal-link float-right" id="word-freq" href="" data-toggle="modal" data-target="#myModal"><i class="fas fa-info-circle"></i></a>
            <h4 class="card-title">Frequência de Palavras no Livro</h4>
          </div>
          <div class="card-body">
            <p class="card-text"> Quantidade de Palavras: {{ diversity.qtd_tokens }} </p>
            <p class="card-text"> Quantidade de Palavras após o filtro: {{ diversity.qtd_filtered }} </p>
            <p class="card-text"> Quantidade de Palavras Únicas: {{ diversity.qtd_uniq_tokens }} </p>
            <p class="card-text"> Quantidade de Palavras Únicas Após o Filtro: {{ diversity.qtd_uniq_filtered }} </p>
          </div>
          <div class="card-footer">
            <p class="card-text"> Diversidade Lexical: {{ diversity.lexical }}% </p>
          </div>
        </div>
        <br>
        <div class="card" style="height:39em">
          <div class="card-header">
            <a class="modal-link float-right" id="dist-lex" href="" data-toggle="modal" data-target="#myModal"><i class="fas fa-info-circle"></i></a>
            <h4 class="card-title">
              Distribuição Lexical
            </h4>
          </div>
          <div class="card-body">
            <div id="dispersion-plot" style="width: 100%;"></div>
            <div class="container-flex my-4">
              <div class="row">
                <div class="col-4">
                  <span>Escolha outra palavra:</span>
                </div>
                <div class="col-4">
                  <select id="word-dist-sel" name="word">
                    <option disabled selected value> ---- </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div id="dispersion-legend"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 my-4">
        <div class="card">
          <div class="card-header">
            <a class="modal-link float-right" id="tag-cloud" href="" data-toggle="modal" data-target="#myModal"><i class="fas fa-info-circle"></i></a>
            <h4 class="card-title">Nuvem de Tags</h4>
          </div>
          <div class="card-body h-100">
            <div id="cloud-plot" style="width: 100%; height: 100%;"></div>
          </div>
          <div class="card-footer">
            <div class="form-group row">
              <label for="amount" class="col-sm-7 col-form-label">
                Escolha a quantidade de palavras <u>(até 150)</u>
              </label>
              <div class="col-sm-3">
                <input type="number" class="form-control" id="amount" max=150 value="150" step="10">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script>
    var tokens = {{ tokens | safe }};
    var commonArray = {{ commonArray | safe }};
    var mostFrequent = {{ frequent | safe }};
    var filtered = {{ filtered | safe }};
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <script src="{% static 'js/words_plot.js' %}"></script>
{% endblock %}
