{% extends 'TextMining/base.html' %}

{% block content %}
  <div class="main-wrapper index">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="overlay"></div>
          <div class="main-wrapper-content py-5 py-md-0">
            <h1 class="mb-3">Emotion Analysis</h1>
            <p class="mb-5">oaLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            <form action="{{ request.build_absolute_uri }}upload/" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="container-fluid">
                <div class="row">
                  <div class="col-8">
                    <div class="form-group">
                      <input type="file" class="form-control-file" name="file">
                    </div>
                  </div>
                  <div class="col-4">
                    <input type="submit" value="Upload File" class="btn btn-primary" disabled>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
